/* RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* GLOBAL */

* {
  box-sizing: border-box;
  list-style: none;
}

/* TOP NAVBAR */

#top-nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
}

#header-container {
  width: 100%;
  height: 3rem;
  border-style: solid;
  background-color: white;
  padding: 0 1rem;
}

#top-header-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  font-family: 'Franklin Gothic Medium', Helvetica, sans-serif;
}

#left-nav {
  flex: 0 1 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 2px;
}

#space-cosmos {
  text-decoration: none;
  color: #000;
  padding-top: 3px;
  font-weight: bold;
}

#middle-nav {
  flex: 0 1 15%;
}

#right-nav {
  flex: 0 1 14%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.subscribe-button {
  cursor: pointer;
  border-radius: 2px;
  background-color: #567b95;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-size: 11px;
}

.login-button {
  cursor: pointer;
  border-radius: 2px;
  background-color: #567b95;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-size: 11px;
}

/* HEADER */

main {
  margin: 5rem auto;
}

#article-header > h1 {
  color: #121212;
  font-size: 40px;
  width: 600px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 auto;
}

#share-links {
  width: 600px;
  padding-top: 1.25rem;
  border-top: 1px solid #ebebeb;
  margin: 0 auto;
}

#header-links-list {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  list-style: none;
  width: 300px;
  padding-top: 1.25rem;
  border-top: 1px solid #ebebeb;
}

#header-image {
  margin: 1.5625rem auto;
  width: 900px;
}

#header-image > img {
  width: 945px;
  height: 532px;
}

#header-img-figcaption {
  width: 720px;
  margin: 0.625rem 0 1.25rem 0;
  line-height: 1.3;
  font-size: 15px;
  color: #666;
}

#header-img-figcaption > span {
  font-size: 11px;
  color: #888;
}

#article-author {
  width: 600px;
  margin: 0 auto 1.25rem;
}

#author-name {
  width: 100%;
  margin-bottom: 1.25rem;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.25;
}

#author-name > a {
  text-decoration: underline;
  text-decoration-color: #ccc;
  color: #333;
}

/* ARTICLE */

.article-content-wrapper {
  margin-left: calc((100% - 600px) / 2);
  margin-right: 0;
  width: 600px;
}

.article-content-wrapper > p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.sub-titles-style {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

#editors-aside {
  position: absolute;
  right: 0;
  width: 200px;
}

.editor-link {
  display: flex;
  align-content: center;
}

.editors-pick-image {
  width: 100px;
  margin: 5px;
}

.editor-link > h3 {
  align-self: center;
}

#editors-aside > h2 {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(226, 226, 226);
  margin-bottom: 15px;
  margin-left: 5px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
}

figure > iframe {
  width: 600px;
  height: 315px;
}

#video-container {
  margin: 2rem auto;
}

#video-caption {
  font-size: 15px;
  color: #666;
}

#video-caption-credits {
  font-size: 11px;
  color: #888;
}

#telescope > image {
  width: 600px;
  height: 401px;
}

#telescope {
  margin: 2.5rem 0;
}

#telescope-span {
  display: block;
  margin-right: 7px;
  font-size: 15px;
  color: #666;
}

#telescope-span-credits {
  font-size: 11px;
  color: #888;
}

#theory-of-inflation-wrap {
  max-width: 100%;
  margin: 0 auto;
}

#theory-contents {
  width: 945px;
  margin: 0 auto 3.5rem;
  line-height: 1.3;
}

#theory-title {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 0.125rem;
}

#theory-image {
  position: relative;
}

#theory-of-inflation-image {
  position: relative;
  width: 100%;
  z-index: -1;
}

.theory-image-desc {
  position: absolute;
  width: 228px;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}

.image-1 {
  top: 24.8264%;
}

.image-2 {
  top: 24.8264%;
  left: 25.5619%;
}

.image-3 {
  top: 24.8264%;
  left: calc(25.5619% * 2);
}

.image-4 {
  top: 24.8264%;
  left: calc(25.5619% * 3);
}

.image-5 {
  top: calc(24.8264% * 3);
}

.image-6 {
  top: calc(24.8264% * 3);
  left: 25.5619%;
}

.image-7 {
  top: calc(24.8264% * 3);
  left: calc(25.5619% * 2);
}

.image-8 {
  top: calc(24.8264% * 3);
  left: calc(25.5619% * 3);
}

#theory-top-border {
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-bottom: 13px;
  background-color: #000;
}

#theory-footer {
  margin-top: 1.5rem;
  font-size: 14px;
  color: #333;
  margin-bottom: 0.875rem;
}

#article-main-footer {
  margin-left: calc((100% - 600px) / 2);
  margin-right: 0;
  width: 600px;
}

#article-main-footer > p {
  font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #666;
  margin: 0 auto 1rem;
}

#article-main-footer > p > a {
  color: #666;
  text-decoration: underline solid #666 1px;
}

#article-main-footer-links {
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  list-style: none;
}

#article-main-footer-links > button {
  flex: 0 1 50%;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  outline: none;
  padding: 0.5rem 0;
  font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #fff;
}

#article-main-footer-links > ul {
  flex: 0 1 50%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 6px;
}

#section-bottom-advertisement {
  margin: 10rem 0;
  padding: 0.75rem 0 1.875rem;
  text-align: center;
  width: 100%;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid rgb(243, 243, 243);
  border-top: 1px solid rgb(243, 243, 243);
}

/* FOOTER */

#nav-links-header {
  display: flex;
  flex-flow: row;
}

#home-page-link {
  margin: 1.125rem 0 0 auto;
  color: rgb(86, 123, 149);
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 11px;
  text-decoration: none;
}

#footer-logo {
  width: 195px;
  height: 26px;
}

#bottom-advertisement-container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  max-width: 2000px;
  background-color: rgb(255, 255, 255);
  border-top: none;
}

#advertisement-block-1-title-container {
  border-top: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

#newsletters {
  margin-bottom: 45px;
}

#newsletters-adverts {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: 140px 30px;
}

#newsletters-adverts-image {
  display: flex;
}

#newsletter-image {
  width: 120px;
  height: 120px;
}

.newsletter-icon {
  width: 40px;
  height: 40px;
  margin-left: 20px;
  margin-bottom: 70px;
}

.adver-title {
  font-size: 1rem;
  line-height: 1.375rem;
  margin: 0.5rem 0;
}

.advert-hyperlink {
  color: black;
  text-decoration: none;
}

#advertisement-block-1-heading {
  border-top: 1px solid rgb(0, 0, 0);
  padding-top: 10px;
}

#advertisement-block-1-adverts {
  display: grid;
  width: 850px;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: 160px 30px 160px 30px;
}

#advertisement-block-1-adverts > a > img {
  width: 200px;
  height: 150px;
}

#advertisement-block-1-adverts > p {
  font-size: 1.125rem;
  line-height: 1.375rem;
}

#grid-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#grid-item-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#grid-item-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#grid-item-4 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#grid-item-5 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

#grid-item-6 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

#editors-block-3 {
  border-top: 1px solid rgb(0, 0, 0);
}

#editors-block-3-adverts {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: 160px 30px;
}

#editors-block-3-adverts > a > img {
  width: 200px;
  height: 150px;
}

#editors-block-3-adverts > a > p {
  font-size: 1.125rem;
  line-height: 1.375rem;
}

#editors-grid-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#editors-grid-item-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

#editors-grid-item-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#aside-block-advert {
  text-align: start;
  width: 330px;
  border-top: 1px solid rgb(0, 0, 0);
}

#aside-block-advert > a > p {
  font-size: 1.4rem;
  line-height: 2.3rem;
  font-weight: 400;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
}

/* FOOTER */

#bottom-navigation-links {
  width: 100%;
  border-style: solid;
  padding: 0 3rem;
  display: block;
  font-family: font-family, "Libre Franklin", helvetica, arial, sans-serif;
}

#homepage {
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #666;
}

#footer-links {
  display: inline-flex;
  gap: 3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(226, 226, 226);
}

#links-grid {
  flex: 1 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 3rem;
}

#links-grid > ul > li > p {
  font-size: 13px;
  font-weight: 1000;
  color: rgb(51, 51, 51);
  margin-bottom: 0.625rem;
}

#links-grid > div > ul > li > p {
  font-size: 13px;
  font-weight: 1000;
  color: rgb(51, 51, 51);
  margin-bottom: 0.625rem;
}

#links-grid > ul {
  line-height: 1.5rem;
}

#links-grid > ul > li > a {
  color: inherit;
  text-decoration: inherit;
}

#links-grid > div > ul > li > a {
  color: inherit;
  text-decoration: inherit;
}

#subscribe-main-menu {
  font-size: 16px;
  font-weight: 700;
}

.subscribe-svg {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 7px;
  vertical-align: middle;
}

#subscribe-sub-menu1 {
  font-size: 13px;
  padding-top: 1rem;
  line-height: 2.1;
}

#subscribe-sub-menu2 {
  font-size: 13px;
  padding-top: 1rem;
  line-height: 2.1;
}

#foot-nav-wrapper {
  display: flex;
  margin: 3rem 6rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

#foot-nav-wrapper > ul {
  display: flex;
  margin-bottom: 1rem;
}

#foot-nav-wrapper > ul > li {
  padding: 0.325rem;
}

.footer-navigation-links {
  padding: 0.5625rem 0;
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  font-size: 11px;
  font-weight: 300;
  color: #666;
}

#subscription-bar {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 3rem;
  border-style: solid;
  background-color: white;
  padding-left: 15rem;
  border-top: 1px solid rgb(0, 0, 0);
}

#sub-bar-main {
  padding-top: 1rem;
  padding-left: 15rem;
  float: left;
}

#sub-bar-right {
  float: right;
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#sub-bar-right-text {
  padding-top: 1rem;
  padding-right: 1rem;
  font-weight: 800;
}
